<div class="container">

    <table class="table table-striped mt-4">
        <thead>
          <tr>
            <th style="text-align: center;" scope="col" colspan="2">Average Age By Blood Type</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th scope="col">Blood Type</th>
            <th scope="col">Average Age</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor= "let r of averageAgeByBloodTypeList">
            <td>{{r.bloodType}}</td>
            <td>{{r.averageAge}}</td>
          </tr>
        </tbody>
      </table>
      
</div>
