<div class="container mt-4">
    <h1>Percentage Obesity By Gender</h1>
    <div class="form-row mt-4">

        <div class="card col" style="width: 18rem;" >
            <img src="../../assets/img/Female-icon.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h1>Female: {{femalePercentage}} %</h1>
            </div>
        </div>

        <div class="card col" style="width: 18rem;">
            <img src="../../assets/img/Male-icon.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h1>Male: {{malePercentage}} %</h1>
            </div>
        </div>

    </div>
</div>
